name: Release

on:
  push:
    tags:
    - v*

env:
  # Golang version to use across CI steps
  GOLANG_VERSION: '1.22'
  SBOM_PATH: sbom.json

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  build-go:
    name: Build Go
    runs-on: ubuntu-22.04
    permissions:
      # Needs write for the release
      contents: write
      # Attestation
      id-token: write
      attestations: write
    strategy:
      matrix:
        os: [darwin, linux]
        arch: [amd64, arm64]
    env:
      GOARCH: ${{ matrix.arch }}
      GOOS: ${{ matrix.os }}
      BINARY: "calculator-${{ matrix.os }}-${{ matrix.arch }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v4.0.0

      - name: Setup Golang
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ env.GOLANG_VERSION }}

      - name: Download all Go modules
        run: |
          go mod download

      - name: Build
        run: |
          VERSION_COMMIT="-X pmarques.com/calculator-cli/cmd.GitCommit=${GITHUB_SHA}"
          VERSION_NUMER="-X pmarques.com/calculator-cli/cmd.Version=${GITHUB_REF_NAME}"
          go build -ldflags "${VERSION_COMMIT} ${VERSION_NUMER}" -o "${{ env.BINARY }}"

      - name: Generate SBOM
        uses: CycloneDX/gh-gomod-generate-sbom@efc74245d6802c8cefd925620515442756c70d8f # v2.0.0
        with:
          version: v1
          args: mod -licenses -json -output ${{ env.SBOM_PATH }}

      - name: Attest Build Provenance
        uses: actions/attest-build-provenance@00014ed6ed5efc5b1ab7f7f34a39eb55d41aa4f8 # v3.1.0
        with:
          subject-path: ${{ env.BINARY }}
          sbom-path: ${{ env.SBOM_PATH }}

      - name: Upload binary
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: gh release upload "${{ github.ref_name }}" "${{ env.BINARY }}"
